<form [formGroup]="taskForm"  class="d-flex flex-column" (ngSubmit)="onSubmit()">
  <div  class="d-flex flex-column">
    <label for="taskTitleId">Título</label>
    <input  class="textInput" type="text" id="taskTitleId" (change)="checkChanges()"  placeholder="Digite um título para a sua tarefa" formControlName="title"     >


    <label for="taskDescriptionId">Descrição</label>
    <input class="textInput" type="text" id="taskDescriptionId" placeholder="Digite uma descrição para a sua tarefa" formControlName="description">
    
  </div>

  <button type="submit" class="submit-button btn btn-secondary btn-lg align-self-end rounded-pill mt-3" [disabled]="!taskForm.valid">Salvar</button>
</form>