.submit-button:disabled{
    color: #6c757d;
    background-color: white;
    border-color: #6c757d;
}

form{
    width: 350px;
}

.textInput{
    margin-top: 0.3rem;
    margin-bottom: 0.5rem; 
    border: 1px solid #dee2e6; 
    padding: 0.5rem; 
    border-radius: 0.3rem;
}
