<span>
    <span class="task-item-buttons text-success"
        (click)="task.completed ? onButtonClick('unmarkComplete',task.id): onButtonClick('markComplete',task.id)">
        <i [ngClass]="{'fa-solid fa-circle-check':task.completed, 'fa-regular fa-circle':!task.completed}">
        </i>
    </span>
    {{task.title}}

    <span class="task-item-buttons float-end text-secondary" id="open-edit-button" (click)="openDialog(dialog)">
        <i class="fa-solid fa-edit"></i>
    </span>
    <span class="task-item-buttons float-end text-secondary" id="delete-button" (click)="onButtonClick('delete',task.id)">
        <i class="fa-solid fa-trash-can"></i>
    </span>
</span>

<dialog #dialog>
    <app-form-dialog [initialStateTask]="task" (formCompleteEvent)="updateTask($event)" [dialog]="dialog">
    </app-form-dialog>

</dialog>