<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg mt-5">
                <div class="card-header text-center py-4 border-0">
                    <h1 class="display-6 fw-bold">Task Manager</h1>
                </div>
                <div class="card-body p-4">
                    <app-task-list></app-task-list>
                </div>
                <div class="card-footer text-center bg-white py-4 border-0">
                    <button type="button" class="add-button btn btn-outline-secondary btn-lg rounded-pill"
                        (click)="dialog.showModal()"> <i class="fa-solid fa-plus"></i> Adicionar Tarefa </button>
                </div>
            </div>
        </div>
    </div>
</div>

<dialog #dialog>
    <app-form-dialog (formCompleteEvent)="addNewTask($event)" [dialog]="dialog"> </app-form-dialog>

</dialog>